.navbar {
  background-color: #C8102E !important;
}

.navbar a,
.navbar-brand,
.navbar-nav .nav-link {
  color: white !important;
}

.navbar a:hover,
.navbar-nav .nav-link:hover {
  color: #FFD700 !important;
}

.header-logo {
  display: block;
  margin: 20px 0 10px 20px; /* separación y alineación izquierda */
}

.header-logo img {
  height: 400px; /* 10 veces más grande que antes */
}
